<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sinh Viên</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/addnew.css}">
</head>
<body>
    <div th:replace="frontEnd/frontEndView::header"></div>

    <div class="container">
        <main class="content">
            <h2>Thêm Sinh Viên</h2>
            <form th:action="@{/addnew}" method="post">
                <label for="id">Mã số sinh viên:</label>
                <input type="number" id="id" name="id" required>

                <label for="name">Họ và Tên:</label>
                <input type="text" id="name" name="name" required>

                <label for="score">Điểm:</label>
                <input type="number" step="0.01" id="score" name="score" required>

                <button type="submit">Thêm</button>
            </form>
        </main>
    </div>

    <div th:replace="frontEnd/frontEndView::footer"></div>
</body>
</html>
