<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	 <div th:replace="frontEnd/frontEndView::header"></div>
    <div class="container">
        <main class="content">
            <h2>Danh sách sinh viên</h2>
    <table>
        <tr>
            <th>MSSV</th>
            <th>Họ và Tên</th>
            <th>Điểm TB</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.diem}"></td>
        </tr>
    </table>
        </main>
        <div th:replace="frontEnd/frontEndView::sidebar"></div>
    </div>
    <div th:replace="frontEnd/frontEndView::footer"></div>
    

</body>
</html>